*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #250057;
}

.input-box{
    background:#fff ;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input{
    
    width: 100%;
    outline: none;
    border: none;
    font-size: 24px;
    padding: 10px 0;
    color: #555;
}

.input-box img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}